[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "artma"]
	path = artma
	url = https://github.com/petrcala/artma
[submodule "climenu"]
	path = climenu
	url = https://github.com/PetrCala/climenu
	branch = 0.1.1
	registered = false
